if SHIELD_THE_BLOB_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "The Blob"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
    default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y

endif

if SHIELD_THE_BLOB_LEFT || SHIELD_THE_BLOB_RIGHT

config ZMK_SPLIT
    default y

config ZMK_SLEEP
    default y

config ZMK_POINTING
    default y

endif
